@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Raleway&family=Roboto&display=swap');
@import 'reset.scss';
@import 'var.scss';

:root {
  --color-1: #fff;
  --color-2: #222629;
  --color-3: #F92672;
  --color-4: #618930;
  --color-5: #E6DB74;
  --color-6: #87C232;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  background: var(--color-1);
  transition: background $animStep;
}
.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: $step;
  scroll-snap-type: y mandatory;
}
.header {
  width: 100%;
  height: $step;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 40px $step;
  transition: $animStep;
  .logo {
    font-size: 1em;
    font-weight: 700;
    color: var(--color-2);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1em;
    transition: $animStep;
  }
  & .nav {
    display: flex;
    justify-content: space-between;
    opacity: 0;
  }
  & .nav li {
    list-style: none;
  }
  & .nav li a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-3);
    font-size: 21px/18px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: $animStep;
  }
  & .nav li a:hover { 
    padding:10px;
    text-shadow: 
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080,
      0 0 0px #080;
    animation: animLilk 1s linear infinite;
  }
  &.stiky {
    padding: 5px $step;
    background: var(--color-1);
  }
  &.stiky .nav {
    opacity: 1;
  } 
  &.stiky label,
  &.stiky .logo {
    transition: $animStep;
    opacity: 0;
  }
}
.profile-link {
  position: absolute;
  right: 50px;
  top: 50%;
  li {
    list-style: none;
     a {
      text-decoration: none;
      color: var(--color-3);
      letter-spacing: 2px;
      font-weight: 500;
      transition: $animStep
    }
    &:hover .fa {
      transform: rotate3d(2, 1, 1, 30deg)
    }  
  }
  .fa { 
    margin: 0 0 10px 0;
    font-size: 24px;
  }
}
.switch {
  transition: $animStep;
  position: absolute;
  display: inline-block;
  top: 25px;
  right: $step;
  z-index: 10;
  width: 3.8rem;  
  height: 2rem;
  .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked ~ .switch-slider {
      background: var(--color-3);
    }
    &:not(:checked):active ~ .switch-slider:before {
      width: 2.4rem;
    }
    &:checked:active {
      & ~ .switch-slider:before {
        transform: translate(1rem, -50%);
        width: 2.4rem;
      }
    }  
    &:checked ~ .switch-slider:before {
    transform: translate(1.8rem, -50%);
    }  
  } 
  .switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-3);
    border-radius: 25px;
    transition: background $animStep;
    cursor: pointer;
      &:before {
      content: "";
      position: absolute;
      left: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 1.6rem;
      background: var(--color-1);
      transition: transform 0.3s, width 0.3s, background 0.3s;
    }
  }
}
.divide {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  .touch {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: $animStep;
  }
  & .divide-title {
      display: flex;
      justify-content: center;
      width: 530px;
      font: bold 80px/96px 'Barlow Condensed', sans-serif;
      color: $text-color;
      opacity: 0; 
      transition: all $animStep ease-in-out;
      transform: translate3d(-100%,20px,20px);
      &.active {
        transform: matrix(1, .2, .2, 2, 300, 145);
        opacity: 1;
      }
    }
  .touch1 {
    background: var(--color-5);
    clip-path: polygon(0 0, 50% 0, 55% 100%, 0 100%);
  }
  .touch2 {
    background: $bg-content;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 55% 100%);
    .divide-title {
      color: var(--color-3);
    }
  }
}
.divide:hover {
  .touch {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%);
  }
}
.divide {
  .touch:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    .About-block {
      opacity: 1;
    }
    .divide-title {
      opacity: 0;
      transition: 10ms;
    }
  }
}
.About-block {
    opacity: 0;
    width: 600px;
    margin: ($step/2) auto;
    color: $text-color;
    h6 {
      font: 700 32px/38px 'Raleway', sans-serif;
    }
    p {
      font: normal 18px/21px 'Raleway', sans-serif;
    }
    data {
      color: var(--color-3);
    }
  }
.content {
  width: 100%;
  height: 100vh; 
  margin: 0 0 $step 0;
  background-blend-mode: multiply; 
  &:nth-child(2) {
    background: $bg-content url('../img/bg1.png') 50% / 100% no-repeat;
    background-attachment: fixed;
  }
  &:nth-child(3) {
    background: $bg-content;
  }
  &:nth-child(4) {
    background: $bg-color url('../img/bg4.png') 50% / 100% no-repeat;
    background-attachment: fixed;
  }
  &:nth-child(5) {
    background:  $bg-content;
  }
  .content-info {
    .title {
      display: flex;
      justify-content: center;
      width: 530px;
      font: bold 80px/96px 'Barlow Condensed', sans-serif;
      color: $text-color;
      opacity: 0;
      transition: all $animStep ease-in-out;
      transform: translate(-100%,0px);
      &.active {
        transform: translate(0);
        opacity: 1;
      }
    } 
  }
}
.progress-bar-skills {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 30px auto;
  overflow: hidden;
  transition: $animStep;
  h6 {
    font: normal 32px/38px 'Raleway', sans-serif;
    text-align: center;
    width: 280px;
  }
  .name {
    height: 10px;
    background: var(--color-3);
    border-radius: 25px;
    width: 0;
  }
}
.text {
  @include disabled;
  &.active {
    @include visible;
  }
}
.animShow {
  @include disabled;
}
.animShow.active,
.active .animShow {
  @include visible;
}
#Project {
  padding: $step ;
  .content-info {
    opacity: 0;
  }
  .progect-block {
    margin: $step auto;
    color: $bg-color;
    font: 32px/38px 'Barlow Condensed', sans-serif;
  }
  a {
    font: italic 18px/21px 'Raleway', sans-serif;
    text-decoration-line: underline; 
    color: var(--color-3);
  }
  &:hover .content-info {
    @include visible;
  }
}
#Experiens {
  padding: $step;
  .Experiens-block {
    margin: ($step/2) auto;
    color: $text-color;
    font: 32px/38px 'Barlow Condensed', sans-serif;
  }
  a, data {
    font: italic 18px/21px 'Raleway', sans-serif;
    text-decoration-line: underline; 
    color: var(--color-3);
  }
}
.bnt-scroll-top {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: none;
  transition: $animStep;
  &:before,
  &:after {
    content:"";
    position: absolute;
    top: 0;
    left: 50%;
    border: 3px solid var(--color-3);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(225deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-up 1.5s ease-in-out infinite;
  }
  &:after {
    top: 10%;
    animation-delay: .3s;
  }
  &.active {
    bottom: $step;
    pointer-events: auto;
    opacity: 1;
  }
}
.footer {
  width: 100%;
  height: $step;
  color: var(--color-2);
  background: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 5px $step;
  transition: $animStep;
  .author-info h6 {
    color: var(--color-3);
    font-size: 18px;
    line-height: 21px;
  }
  .author-info span {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
  &.stiky .author-info,
  &.stiky .tel {
    transition: $animStep;
    opacity: 0;
  }
}

// Animation //

.htmlCss {
  animation: finish-htmlCss $animRun;
  @keyframes finish-htmlCss {
  to {
      width: 75%;
    }
  }
}
.Responsivelayout {
  animation: finish-Responsivelayout $animRun;
  @keyframes finish-Responsivelayout {
    to {
    width: 55%;
    }
  }
}
.Bootstrap {
  animation: finish-Bootstrap $animRun;
  @keyframes finish-Bootstrap {
    to {
      width: 60%;
    }
  }
}
.jQuery {
  animation: finish-jQuery $animRun;
  @keyframes finish-jQuery {
    to {
      width: 70%;
    }
  }
}
.CssPreprocessors {
  animation: finish-CssPreprocessors $animRun;
    @keyframes finish-CssPreprocessors {
    to {
      width: 75%;
    }
  }
}
.Gulp {
  animation: finish-Gulp $animRun;
  @keyframes finish-Gulp {
    to {
      width: 60%;
    }
  } 
}
.Git {
  animation: finish-Git $animRun;
  @keyframes finish-Git {
    to {
      width: 75%;
    }
  }  
}
@keyframes scroll-up {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
@keyframes scroll-bottom {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
@keyframes animLilk{
  0%{
    filter:hue-rotate(0)
  }
  100%{
    filter:hue-rotate(360deg)
  }
}

