$bg-color: #fff;
$text-color: #272822;
$brand-color: #F92672;
$bg-content: #f8f8f8;
$bg-brand: #e6db74;

$bg-color-dark: #222629;
$brand-color-dark: #87C232; 
$bg-color-grennDark:#618930;

$step: 80px;
$animStep: 1.5s;
$animRun: 10s ease forwards infinite 8s;

@mixin disabled {
	transform: translate(0, 120%);
  	transition: all 1s ease 0s;
  	opacity: 0;
}
@mixin visible {
	transform: translate(0px, 0px);
   transition: all 3s ease 0s;
   opacity: 1;
}