@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Raleway&family=Roboto&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-1: #fff;
  --color-2: #222629; }

body {
  max-width: 1440px;
  background: var(--color-1);
  transition: background 600ms; }

.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 80px;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 40px 80px;
  transition: 600ms; }
  .header .logo {
    font-size: 1em;
    font-weight: 700;
    color: #618930;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1em;
    transition: 600ms; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    opacity: 0; }
  .header .nav li {
    list-style: none; }
  .header .nav li a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 600ms; }
  .header.stiky {
    padding: 5px 80px;
    background: #618930; }
  .header.stiky .nav {
    opacity: 1; }
  .header.stiky label,
  .header.stiky .logo {
    transition: 600ms;
    opacity: 0; }

.switch {
  transition: 600ms;
  position: absolute;
  display: inline-block;
  top: 25px;
  right: 80px;
  z-index: 10;
  width: 3.8rem;
  height: 2rem; }
  .switch .switch-input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch .switch-input:checked ~ .switch-slider {
      background: var(--color-2); }
    .switch .switch-input:not(:checked):active ~ .switch-slider:before {
      width: 2.4rem; }
    .switch .switch-input:checked:active ~ .switch-slider:before {
      transform: translate(1rem, -50%);
      width: 2.4rem; }
    .switch .switch-input:checked ~ .switch-slider:before {
      transform: translate(1.8rem, -50%); }
  .switch .switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #618930;
    border-radius: 25px;
    transition: background 600ms;
    cursor: pointer; }
    .switch .switch-slider:before {
      content: "";
      position: absolute;
      left: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 1.6rem;
      background: var(--color-1);
      transition: transform 0.3s, width 0.3s, background 0.3s; }

.divide {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff; }
  .divide .touch {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 600ms; }
  .divide .touch1 {
    background: #618930;
    -webkit-clip-path: polygon(0 0, 50% 0, 55% 100%, 0 100%);
            clip-path: polygon(0 0, 50% 0, 55% 100%, 0 100%); }
  .divide .touch2 {
    background: #f8f8f8;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 55% 100%);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 55% 100%); }

.divide:hover .touch {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 100% 100%); }

.divide .touch:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .divide .touch:hover .content-box {
    bottom: 0;
    opacity: 1; }

.content {
  width: 100%;
  height: 100vh;
  margin: 0 0 80px 0;
  background-blend-mode: multiply; }
  .content:nth-child(2) {
    background: #f8f8f8 url("../img/bg2.png") 50%/auto no-repeat;
    background-attachment: fixed; }
  .content:nth-child(3) {
    background: #f8f8f8; }
  .content:nth-child(4) {
    background: #fff url("../img/bg4.png") 50%/100% no-repeat;
    background-attachment: fixed; }
  .content:nth-child(5) {
    background: #f8f8f8; }
  .content .content-info .divide-title,
  .content .content-info .title {
    width: 530px;
    font: bold 80px/96px 'Barlow Condensed', sans-serif;
    color: #272822;
    opacity: 0;
    transition: all 600ms ease-in-out;
    transform: translate3d(-100%, 20px, 20px); }
    .content .content-info .divide-title.active,
    .content .content-info .title.active {
      transform: matrix(1, 0.2, 0.2, 2, 300, 145);
      opacity: 1; }
  .content .content-info .title {
    display: flex;
    justify-content: center;
    transform: translate(-100%, 0px); }
    .content .content-info .title.active {
      transform: translate(0); }

.progress-bar-skills {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 30px auto;
  overflow: hidden;
  transition: 600ms; }
  .progress-bar-skills h6 {
    font: normal 32px/38px 'Raleway', sans-serif;
    text-align: center;
    width: 280px; }
  .progress-bar-skills .name {
    height: 10px;
    background: green;
    border-radius: 25px;
    width: 0; }
  .progress-bar-skills .htmlCss {
    -webkit-animation: finish-htmlCss 5s ease forwards;
            animation: finish-htmlCss 5s ease forwards; }

@-webkit-keyframes finish-htmlCss {
  to {
    width: 75%; } }

@keyframes finish-htmlCss {
  to {
    width: 75%; } }
  .progress-bar-skills .Responsivelayout {
    -webkit-animation: finish-Responsivelayout 5s ease forwards;
            animation: finish-Responsivelayout 5s ease forwards; }

@-webkit-keyframes finish-Responsivelayout {
  to {
    width: 55%; } }

@keyframes finish-Responsivelayout {
  to {
    width: 55%; } }
  .progress-bar-skills .Bootstrap {
    -webkit-animation: finish-Bootstrap 6s ease forwards;
            animation: finish-Bootstrap 6s ease forwards; }

@-webkit-keyframes finish-Bootstrap {
  to {
    width: 60%; } }

@keyframes finish-Bootstrap {
  to {
    width: 60%; } }
  .progress-bar-skills .jQuery {
    -webkit-animation: finish-jQuery 7s ease forwards;
            animation: finish-jQuery 7s ease forwards; }

@-webkit-keyframes finish-jQuery {
  to {
    width: 70%; } }

@keyframes finish-jQuery {
  to {
    width: 70%; } }
  .progress-bar-skills .CssPreprocessors {
    -webkit-animation: finish-CssPreprocessors 8s ease forwards;
            animation: finish-CssPreprocessors 8s ease forwards; }

@-webkit-keyframes finish-CssPreprocessors {
  to {
    width: 75%; } }

@keyframes finish-CssPreprocessors {
  to {
    width: 75%; } }
  .progress-bar-skills .Gulp {
    -webkit-animation: finish-Gulp 9s ease forwards;
            animation: finish-Gulp 9s ease forwards; }

@-webkit-keyframes finish-Gulp {
  to {
    width: 60%; } }

@keyframes finish-Gulp {
  to {
    width: 60%; } }
  .progress-bar-skills .Git {
    -webkit-animation: finish-Git 10s ease forwards;
            animation: finish-Git 10s ease forwards; }

@-webkit-keyframes finish-Git {
  to {
    width: 75%; } }

@keyframes finish-Git {
  to {
    width: 75%; } }

.text {
  transform: translate(0, 120%);
  transition: all 1s ease 0s;
  opacity: 0; }
  .text.active {
    transform: translate(0px, 0px);
    transition: all 1s ease 0s;
    opacity: 1; }

.animShow {
  transform: translate(0, 120%);
  transition: all 1s ease 0s;
  opacity: 0; }

.animShow.active,
.active .animShow {
  transform: translate(0px, 0px);
  transition: all 1s ease 0s;
  opacity: 1; }

#Project .content-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  opacity: 0; }

#Project .title {
  color: #87C232; }

#Project .progect-block {
  color: #fff;
  font: 32px/38px 'Barlow Condensed', sans-serif; }

#Project a {
  font: italic 18px/21px 'Raleway', sans-serif;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #87C232; }

#Project:hover .content-info {
  transform: translate(0px, 0px);
  transition: all 1s ease 0s;
  opacity: 1; }

.bnt-scroll-top {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: none;
  transition: all 600ms; }
  .bnt-scroll-top:before, .bnt-scroll-top:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border: 3px solid #F92672;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(225deg);
    border-top: transparent;
    border-left: transparent;
    -webkit-animation: scroll-up 1.5s ease-in-out infinite;
            animation: scroll-up 1.5s ease-in-out infinite; }
  .bnt-scroll-top:after {
    top: 10%;
    -webkit-animation-delay: .3s;
            animation-delay: .3s; }
  .bnt-scroll-top.active {
    bottom: 80px;
    pointer-events: auto;
    opacity: 1; }

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  padding: 5px 80px;
  transition: 600ms; }
  .footer .author-info h6 {
    font-size: 18px;
    line-height: 21px;
    color: #87C232; }
  .footer .author-info span {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px; }
  .footer.stiky .author-info,
  .footer.stiky .tel {
    transition: 600ms;
    opacity: 0; }

@-webkit-keyframes scroll-up {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@keyframes scroll-up {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }
