@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-1: #fff;
  --color-2: #222629;
  --color-3: #F92672;
  --color-4: #618930;
  --color-5: #E6DB74;
  --color-6: #87C232; }

html {
  scroll-behavior: smooth; }

body {
  max-width: 1440px;
  background: var(--color-1);
  transition: background 1.5s; }

.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 80px;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 40px 80px;
  transition: 1.5s; }
  .header .logo {
    font-weight: 700;
    color: var(--color-2);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1em;
    transition: 1.5s; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    opacity: 0; }
  .header .nav li {
    list-style: none; }
  .header .nav li a {
    margin: 0 10px;
    font: italic 18px/21px "Times New Roman", sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color-3);
    letter-spacing: 2px;
    transition: 1.5s; }
  .header .nav li a:hover {
    margin: 30px; }
  .header.stiky {
    padding: 5px 80px;
    background: var(--color-1); }
  .header.stiky .nav,
  .header .bnt-scroll-down {
    opacity: 1; }
  .header.stiky label,
  .header.stiky .logo,
  .header.stiky .bnt-scroll-down {
    transition: 1.5s;
    opacity: 0; }

.profile-link {
  position: absolute;
  right: 50px;
  top: 40%; }
  .profile-link li {
    list-style: none; }
    .profile-link li a {
      text-decoration: none;
      color: var(--color-3);
      letter-spacing: 2px;
      font-weight: 500;
      transition: 1.5s; }
    .profile-link li:hover .fa {
      transform: rotate3d(2, 1, 1, 30deg); }
  .profile-link .fa {
    margin: 0 0 10px 0;
    font-size: 24px; }

.burger-nav {
  position: absolute;
  z-index: 10; }
  .burger-nav li {
    list-style-type: none;
    padding: 10px;
    text-align: right; }
  .burger-nav li:not(.open) {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: BurgerLinkOutLeft;
            animation-name: BurgerLinkOutLeft; }
  .burger-nav li:first-child {
    padding-top: 80px; }
  .burger-nav.open {
    visibility: visible; }
    .burger-nav.open li {
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: BurgerLinkInLeft;
              animation-name: BurgerLinkInLeft; }

.burger-link {
  background: transparent;
  color: var(--color-2);
  font: italic 18px/21px "Times New Roman", sans-serif;
  letter-spacing: 2px;
  margin-left: 25px;
  text-decoration: none;
  transition: 1.5s;
  width: auto; }
  .burger-link:hover, .burger-link--active {
    border-left: var(--color-3) solid 3px;
    padding-left: 5px; }

.b-menu {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15px;
  padding-top: 18px;
  position: relative;
  transition: 1.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  z-index: 10; }

.b-bun {
  display: block;
  background: var(--color-3);
  position: relative;
  transition: 0.75s; }
  .b-bun--top, .b-bun--mid, .b-bun--bottom {
    height: 2px;
    top: 0;
    left: 6px;
    width: 30px; }
  .b-bun--mid {
    left: 0;
    top: 8px; }
  .b-bun--bottom {
    top: 16px; }

.b-container {
  position: absolute;
  left: 30px;
  top: 45%; }
  .b-container.open .b-bun--top {
    top: 9px;
    transform: rotate(45deg); }
  .b-container.open .b-bun--mid {
    opacity: 0; }
  .b-container.open .b-bun--bottom {
    top: 5px;
    transform: rotate(-45deg); }

.burger.stiky .b-container,
.burger.stiky .burger-nav {
  transition: 1.5s;
  opacity: 0; }

.switch {
  transition: 1.5s;
  position: absolute;
  display: inline-block;
  top: 25px;
  right: 80px;
  z-index: 10;
  width: 3.8rem;
  height: 2rem; }
  .switch .switch-input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch .switch-input:checked ~ .switch-slider {
      background: var(--color-3); }
    .switch .switch-input:not(:checked):active ~ .switch-slider:before {
      width: 2.4rem; }
    .switch .switch-input:checked:active ~ .switch-slider:before {
      transform: translate(1rem, -50%);
      width: 2.4rem; }
    .switch .switch-input:checked ~ .switch-slider:before {
      transform: translate(1.8rem, -50%); }
  .switch .switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-3);
    border-radius: 25px;
    transition: background 1.5s;
    cursor: pointer; }
    .switch .switch-slider:before {
      content: "";
      position: absolute;
      left: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 1.6rem;
      background: var(--color-1);
      transition: transform 0.3s, width 0.3s, background 0.3s; }

.divide {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh; }
  .divide .touch {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s; }
  .divide .divide-title {
    width: 530px;
    font: 80px/86px "Barlow Condensed", sans-serif;
    color: var(--color-6);
    opacity: 0;
    transition: all 1.5s ease-in-out;
    transform: translate3d(-100%, 20px, 20px); }
    .divide .divide-title.active {
      transform: matrix(1, 0.2, 0.2, 2, 300, 145);
      opacity: 1; }
    .divide .divide-title .mark-black {
      color: #272822;
      display: inline; }
  .divide .touch1 {
    background: var(--color-5);
    -webkit-clip-path: polygon(0 0, 50% 0, 55% 100%, 0 100%);
            clip-path: polygon(0 0, 50% 0, 55% 100%, 0 100%); }
  .divide .touch2 {
    background: #f8f8f8;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 55% 100%);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 55% 100%); }

.divide:hover .touch {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 100% 100%); }

.divide .touch:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .divide .touch:hover .About-block {
    opacity: 1; }
  .divide .touch:hover .divide-title {
    opacity: 0;
    transition: 10ms; }

.About-block {
  opacity: 0;
  width: 600px;
  margin: 40px auto;
  color: #272822; }
  .About-block h6 {
    font: bold 32px/38px "Barlow Condensed", sans-serif; }
  .About-block p {
    font: italic 18px/21px "Times New Roman", sans-serif; }
  .About-block data {
    color: var(--color-3); }

.content {
  width: 100%;
  height: 100vh;
  margin: 0 0 80px 0;
  background-blend-mode: multiply; }
  .content:nth-child(2) {
    background: url("../img/bg1.png") 50%/100% no-repeat;
    background-attachment: fixed; }
  .content:nth-child(3) {
    background: #f8f8f8; }
  .content:nth-child(4) {
    background: #f8f8f8; }
  .content:nth-child(5) {
    background: url("../img/bg1.jpg") 50%/100% no-repeat;
    background-attachment: fixed; }
  .content:nth-child(6) {
    background: #f8f8f8; }
  .content .content-info .title {
    display: flex;
    justify-content: center;
    width: 530px;
    font: 80px/86px "Barlow Condensed", sans-serif;
    color: #272822;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    transform: translate(-100%, 0px); }
    .content .content-info .title.active {
      transform: translate(0);
      opacity: 1; }

.text {
  transform: translate(0, 120%);
  transition: all 1s ease 0s;
  opacity: 0; }
  .text.active {
    transform: translate(0px, 0px);
    transition: all 3s ease 0s;
    opacity: 1; }

.animShow {
  transform: translate(0, 120%);
  transition: all 1s ease 0s;
  opacity: 0; }

.animShow.active,
.active .animShow {
  transform: translate(0px, 0px);
  transition: all 3s ease 0s;
  opacity: 1; }

#Skills {
  padding: 80px; }
  #Skills .progress-bar-skills {
    margin: 30px 80px;
    overflow: hidden;
    transition: 1.5s; }
    #Skills .progress-bar-skills h6 {
      font: italic 18px/21px "Times New Roman", sans-serif;
      text-align: left;
      letter-spacing: 2px; }
    #Skills .progress-bar-skills .name {
      height: 10px;
      background: var(--color-3);
      border-radius: 25px;
      width: 0; }

#Project {
  padding: 80px;
  cursor: pointer; }
  #Project .progect-block {
    margin: 80px auto;
    color: #272822;
    letter-spacing: 2px;
    font: bold 32px/38px "Barlow Condensed", sans-serif; }
    #Project .progect-block p {
      font: italic 18px/21px "Times New Roman", sans-serif; }
    #Project .progect-block a {
      font: italic 18px/21px "Times New Roman", sans-serif;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      color: var(--color-3); }

#Experiens {
  padding: 80px;
  font: italic 18px/21px "Times New Roman", sans-serif; }
  #Experiens .Experiens-block {
    margin: 40px auto;
    letter-spacing: 2px;
    color: #272822; }
    #Experiens .Experiens-block h6 {
      font: bold 32px/38px "Barlow Condensed", sans-serif; }
  #Experiens a, #Experiens data {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: var(--color-3); }

.bnt-scroll-top {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: none;
  transition: 1.5s; }
  .bnt-scroll-top:before, .bnt-scroll-top:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border: 3px solid var(--color-2);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(225deg);
    border-top: transparent;
    border-left: transparent;
    -webkit-animation: scroll-up 1.5s ease-in-out infinite;
            animation: scroll-up 1.5s ease-in-out infinite; }
  .bnt-scroll-top:after {
    top: 10%;
    -webkit-animation-delay: .3s;
            animation-delay: .3s; }
  .bnt-scroll-top.active {
    bottom: 80px;
    pointer-events: auto;
    opacity: 1; }

.footer {
  width: 100%;
  height: 80px;
  color: var(--color-2);
  background: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 5px 80px;
  transition: 1.5s; }
  .footer .mark {
    font-weight: 700;
    color: var(--color-2);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1em;
    transition: 1.5s; }
  .footer .tel {
    color: var(--color-3);
    letter-spacing: 2px;
    font: italic 18px/21px "Times New Roman", sans-serif; }
  .footer.stiky .mark,
  .footer.stiky .tel {
    transition: 1.5s;
    opacity: 0; }

.htmlCss {
  -webkit-animation: finish-htmlCss 10s ease forwards infinite 8s;
          animation: finish-htmlCss 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-htmlCss {
  to {
    width: 90%; } }

@keyframes finish-htmlCss {
  to {
    width: 90%; } }

.Responsivelayout {
  -webkit-animation: finish-Responsivelayout 10s ease forwards infinite 8s;
          animation: finish-Responsivelayout 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-Responsivelayout {
  to {
    width: 75%; } }

@keyframes finish-Responsivelayout {
  to {
    width: 75%; } }

.Bootstrap {
  -webkit-animation: finish-Bootstrap 10s ease forwards infinite 8s;
          animation: finish-Bootstrap 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-Bootstrap {
  to {
    width: 80%; } }

@keyframes finish-Bootstrap {
  to {
    width: 80%; } }

.jQuery {
  -webkit-animation: finish-jQuery 10s ease forwards infinite 8s;
          animation: finish-jQuery 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-jQuery {
  to {
    width: 75%; } }

@keyframes finish-jQuery {
  to {
    width: 75%; } }

.CssPreprocessors {
  -webkit-animation: finish-CssPreprocessors 10s ease forwards infinite 8s;
          animation: finish-CssPreprocessors 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-CssPreprocessors {
  to {
    width: 85%; } }

@keyframes finish-CssPreprocessors {
  to {
    width: 85%; } }

.Gulp {
  -webkit-animation: finish-Gulp 10s ease forwards infinite 8s;
          animation: finish-Gulp 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-Gulp {
  to {
    width: 80%; } }

@keyframes finish-Gulp {
  to {
    width: 80%; } }

.Git {
  -webkit-animation: finish-Git 10s ease forwards infinite 8s;
          animation: finish-Git 10s ease forwards infinite 8s; }

@-webkit-keyframes finish-Git {
  to {
    width: 70%; } }

@keyframes finish-Git {
  to {
    width: 70%; } }

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@-webkit-keyframes scroll-up {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@keyframes scroll-up {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@-webkit-keyframes BurgerLinkInLeft {
  0% {
    transform: translate3d(0, 250px, 50px);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes BurgerLinkInLeft {
  0% {
    transform: translate3d(0, 250px, 50px);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes BurgerLinkOutLeft {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden; } }

@keyframes BurgerLinkOutLeft {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden; } }
